In [1]:
import pandas as pd

In [3]:
jan_2019 = "Resources/201901-citibike-tripdata.csv"

feb_2019 = "Resources/201902-citibike-tripdata.csv"

mar_2019 = "Resources/201903-citibike-tripdata.csv"

In [5]:
jan_df = pd.read_csv(jan_2019)

feb_df = pd.read_csv(feb_2019)

mar_df = pd.read_csv(mar_2019)

In [9]:
mar_df.head(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1463,2019-03-01 00:00:16.0970,2019-03-01 00:24:39.3880,319.0,Fulton St & Broadway,40.711066,-74.009447,347.0,Greenwich St & W Houston St,40.728846,-74.008591,35618,Subscriber,1989,1
1,285,2019-03-01 00:00:32.3850,2019-03-01 00:05:18.1830,439.0,E 4 St & 2 Ave,40.726281,-73.989780,150.0,E 2 St & Avenue C,40.720874,-73.980858,31113,Subscriber,1980,1
2,686,2019-03-01 00:00:47.7970,2019-03-01 00:12:14.3090,526.0,E 33 St & 5 Ave,40.747659,-73.984907,3474.0,6 Ave & Spring St,40.725256,-74.004121,19617,Subscriber,1987,1
3,442,2019-03-01 00:01:01.2090,2019-03-01 00:08:23.7510,3474.0,6 Ave & Spring St,40.725256,-74.004121,355.0,Bayard St & Baxter St,40.716021,-73.999744,27086,Subscriber,1987,2
4,2913,2019-03-01 00:01:09.2810,2019-03-01 00:49:42.3810,379.0,W 31 St & 7 Ave,40.749156,-73.991600,212.0,W 16 St & The High Line,40.743349,-74.006818,34791,Subscriber,1991,1
5,1682,2019-03-01 00:01:27.1150,2019-03-01 00:29:29.7530,3232.0,Bond St & Fulton St,40.689622,-73.983043,3058.0,Lewis Ave & Kosciuszko St,40.692371,-73.937054,32906,Subscriber,1986,1
6,769,2019-03-01 00:01:30.0590,2019-03-01 00:14:19.9170,377.0,6 Ave & Canal St,40.722438,-74.005664,311.0,Norfolk St & Broome St,40.717227,-73.988021,16223,Subscriber,1987,1
7,483,2019-03-01 00:01:33.0960,2019-03-01 00:09:36.4430,2010.0,Grand St & Greene St,40.721655,-74.002347,316.0,Fulton St & William St,40.709560,-74.006536,15657,Subscriber,1974,1
8,472,2019-03-01 00:01:37.0240,2019-03-01 00:09:29.4480,3082.0,Hope St & Union Ave,40.711674,-73.951413,3113.0,Greenpoint Ave & Manhattan Ave,40.730260,-73.953940,26822,Subscriber,1985,1
9,3198,2019-03-01 00:02:01.6940,2019-03-01 00:55:20.6360,3461.0,Murray St & Greenwich St,40.714852,-74.011223,327.0,Vesey Pl & River Terrace,40.715338,-74.016584,35552,Subscriber,1995,1

In [10]:
Q1_df = pd.concat(map(pd.read_csv, ['Resources/201901-citibike-tripdata.csv', 'Resources/201902-citibike-tripdata.csv','Resources/201903-citibike-tripdata.csv']))

In [13]:
Q2_df = pd.concat(map(pd.read_csv, ['Resources/201904-citibike-tripdata.csv', 'Resources/201905-citibike-tripdata.csv','Resources/201906-citibike-tripdata.csv']))

In [14]:
Q3_df = pd.concat(map(pd.read_csv, ['Resources/201907-citibike-tripdata.csv', 'Resources/201908-citibike-tripdata.csv','Resources/201909-citibike-tripdata.csv']))

In [15]:
Q4_df = pd.concat(map(pd.read_csv, ['Resources/201910-citibike-tripdata.csv', 'Resources/201911-citibike-tripdata.csv','Resources/201912-citibike-tripdata.csv']))

In [17]:
Q1_df.to_csv('Resources\combinded\Q1.csv', index = True, header=True)

In [18]:
Q2_df.to_csv('Resources\combinded\Q2.csv', index = True, header=True)

In [19]:
Q3_df.to_csv('Resources\combinded\Q3.csv', index = True, header=True)

In [20]:
Q4_df.to_csv('Resources\combinded\Q4.csv', index = True, header=True)